.app_orange_theme {
    --bg-color: #fbf8f4;
    --inverted-bg-color: #ff8d0f;
    --primary-color: #e61300;
    --secondary-color: #ff730f;
    --inverted-primary-color: #dbd5dc;
    --inverted-secondary-color: #faf4fb;
}
